body {
  font-family: Poppins;
}

img {
  max-width: 100%;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.top-logo {
  text-align: center;
  margin: 2em 1em 0.5em 0;
}

.flex-nav {
  display: flex;
  justify-content: center;
  gap: 1em;
}

flex-nav div p {
  color: #002840;
}

.flex-nav div a:visited {
  color: #002840;
}

.img-block img {
  display: block;
}

b {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
}

i {
  font-style: normal;
  color: #ec4f12;
}

.last-header-mobile h1 {
  margin-top: 0;
}

.last-header-mobile {
  background-color: #001f38;
  padding: 3em 0 3.5em;
  text-align: center;
}

.saiba-mais {
  display: inline-block;
  color: rgba(255, 255, 255, 0.95);
  background: #ec5012e7;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.main-destaque {
  border-top: 1px solid rgba(255, 255, 255, 0.95);
  background-color: #001f38;
  text-align: center;
  padding: 3em 3em 0.5em;
  font-size: 0.8em;
}

.main-destaque p {
  color: rgba(255, 255, 255, 0.95);
  margin-top: 0;
}

.main-text-flex div span {
  color: #ec4f12;
  font-size: 5em;
}

.main-text-flex {
  text-align: center;
  margin-top: 3em;
}

.main-text-flex p {
  margin-top: 0.8em;
}

.main-paragraph {
  line-height: 2;
  width: 70%;
  margin: 3em auto;
  text-align: center;
}

.background-banner {
  background-image: url(assets/banner-2.jpg);
  padding: 3em 3em 3em;
  background-position: center;
  background-size: cover;
}

.background-banner h3 {
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.alt-section-last {
  line-height: 2;
  width: 70%;
  margin: 3em auto;
  text-align: center;
}

.alt-section-last h3 {
  font-size: 1.8em;
  color: #002840;
}

.last-section-destaque {
  background-color: #001f38;
  padding: 2em 0 3em;
  text-align: center;
}

.last-section-destaque h2 {
  margin-bottom: 1.5em;
}

.last-section img {
  display: block;
}

.last-card-1 {
  background-color: rgba(0, 0, 0, 0.89);
  text-align: center;
  padding: 1em;
}

.last-card-1 p {
  margin: 0;
}

.last-card-1 .uppercase {
  margin-top: 0.5em;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 500;
}

.last-card-2 {
  background-color: rgba(163, 159, 159, 0.418);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.356) 1%,
    rgba(163, 159, 159, 0.418) 99%
  );
  text-align: center;
  padding: 1em;
}

.last-card-2 p {
  margin: 0;
}

.last-card-2 b {
  color: #000;
}

.last-card-2 .uppercase {
  margin-top: 0.5em;
}

.last-card-1,
.last-card-2 {
  text-transform: uppercase;
}

.main-footer {
  background-color: #001f38;
  padding: 2em;
}

.footer-socials {
  font-size: 2em;
  letter-spacing: 0.5em;
  text-align: center;
}

.footer-socials i {
  color: rgba(255, 255, 255, 0.95);
}

.footer-logo {
  text-align: center;
  margin-right: 1em;
  margin-top: 2em;
}

.footer-nav {
  display: none;
}

@media screen and (min-width: 64em) {
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-logo a img {
    margin-left: 10em;
    margin-bottom: 1.5em;
  }

  .flex-nav {
    gap: 4em;
    margin-right: 15em;
  }

  .flex-nav div p {
    color: #002840;
    transition: color 0.3s;
  }

  .flex-nav div p:hover {
    color: #ec4f12;
  }

  .pos-relative {
    position: relative;
  }

  .last-header-mobile {
    background: transparent;
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: left;
  }

  .last-header-mobile i {
    color: #fff;
    font-weight: 800;
  }

  .last-header-mobile h1 {
    font-size: 3em;
  }

  .main-destaque {
    border-top: none;
    padding: 3em 3em 1.5em;
  }

  .main-destaque h1 {
    font-size: 5em;
    margin: 0;
  }

  .main-destaque p {
    padding: 0;
    margin-top: 2em;
  }

  .main-destaque b {
    font-weight: 700;
  }

  .main-text-flex {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-top: 5em;
  }

  .main-text-flex div span {
    font-size: 6em;
  }

  .main-paragraph {
    width: 37%;
    text-align: left;
    margin-bottom: 5em;
  }

  .background-banner {
    padding: 6em 6em 6em;
  }

  .background-banner h3 {
    font-size: 1.7em;
    width: 33%;
    margin: 1em auto;
  }

  .alt-section-last {
    text-align: left;
    width: 37%;
    margin-bottom: 5em;
  }

  .alt-section .main-paragraph {
    margin-top: 5em;
  }

  .last-section-destaque {
    width: 50%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 15em;
    gap: 1em;
  }

  .last-section-destaque .saiba-mais {
    align-self: flex-start;
  }

  .last-section-destaque b {
    font-weight: 600;
  }

  .last-section-destaque h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .last-section-flex {
    display: flex;
  }

  .last-banner {
    max-width: 50%;
  }

  .last-card-1,
  .last-card-2 {
    width: 20%;
    text-align: left;
    text-transform: uppercase;
  }

  .card-flex {
    display: flex;
    justify-content: center;
    margin: 3em 0 5em;
  }

  .footer-socials {
    letter-spacing: 1em;
  }

  .footer-socials i {
    color: rgba(255, 255, 255, 0.95);
    transition: 0.3s all;
  }

  .footer-socials i:visited {
    color: rgba(255, 255, 255, 0.95);
  }

  .footer-socials i:hover {
    color: #ec4f12;
  }

  .footer-nav div p {
    color: rgba(255, 255, 255, 0.95);
    transition: 0.3s all;
  }

  .footer-nav div p:visited {
    color: rgba(255, 255, 255, 0.95);
  }

  .footer-nav div p:hover {
    color: #ec4f12;
  }

  .footer-nav {
    display: flex;
    gap: 3em;
  }

  .footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-logo a img {
    margin-bottom: 2.2em;
  }

  .main-footer {
    padding: 0;
  }
}

@media screen and (min-width: 78em) {
  .last-section-destaque h2 {
    font-size: 2.5em;
  }
}
